Makefile
*~
*.dSYM
*.o
valgrindtest
capturetest
can_set_rfmon_test
filtertest
findalldevstest
opentest
reactivatetest
selpolltest
threadsignaltest
Win32/config.h
msdos/config.h
rpcapd/config.h
new-plugin-architecture.*
scanner.c
adapter-description-problem.txt
msdos/.depend.dj
msdos/pcap_version.h
diff-*.txt
doc/*
*.dot
*.png
*.lst
*.inc
*.exe
*.pdb
*.dll
*.a
*.lib
*.o
*.obj
*.bat
*.btm
*.filter
*.map
*.res
zip-and-upload.mak
